
#home_main, #page_main {
	width:100%;
}
.meta-settings {
	max-width:800px;
}
.meta-settings * {
	-webkit-box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	box-sizing:border-box !important;
}
.meta-settings h2 {
	font-size:18px !important;
	font-weight:bold !important;
	padding:4px 0px !important;
	
}
.meta-settings p {
	margin-bottom:15px !important;
}
.meta-settings table {
	margin:0;
	border-spacing:0;
}

.meta-settings table.group {
	width:100%;
	padding:4px;
	margin:4px 0;
}
.meta-settings table.group th {
	text-align:left;
	padding:4px 0px;
}
.meta-settings table.group td {
	padding:2px;
	vertical-align:top;
}

.meta-settings table.section {
	width:100%;
	margin-bottom:20px;
}
.meta-settings .control-wrap {
	font-size:0px;
}

.meta-settings table.control-group {
	border:1px solid #dfdfdf;
	background-color:#fbfbfb;
	vertical-align:top;
}
.meta-settings table.control {
	display:table;
	border:1px solid #dfdfdf;
	background-color:#fbfbfb;
	vertical-align:top;
	font-size:13px;
}
.meta-settings .control-wrap > table.control {
	min-width:300px;
}
.meta-settings .control-wrap > table.control-group {
	min-width:500px;
}
.meta-settings table.control.inline {
	display:inline-table;
}
.meta-settings table.control.wide {
	width:100%;
}
.meta-settings table.control.solo {
	min-width:500px;
	background-color:transparent;
	border:0px;
}
.meta-settings table.control-group td,
.meta-settings table.control td {
	padding:6px 8px 4px 8px;
	vertical-align:top;
	font-size:13px;
}
.meta-settings table.control td.labels {
	width:160px;
}
.meta-settings table.disabled, .meta-settings td.disabled {
	display:none;
}
.meta-settings table.persists.disabled {
	opacity:0.4;
	display:table;
}
.meta-settings td.persists.disabled {
	opacity:0.4;
	display:table-cell;
}
.meta-settings table.disabled input, .meta-settings table.disabled select, .meta-settings table.disabled textarea {
	cursor:default;
}
.meta-settings label {
	padding-right:10px;
	font-weight:500;
}
.meta-settings sub {
	display:block;
	max-width:150px;
}
.meta-settings .editor sub {
	max-width:none;
}

.meta-settings button,
.meta-settings input[type=button] {
	padding:0px 10px;
	color:#555;
	line-height:22px;
	background:#f7f7f7;
	border-color:#ccc;
	border-radius:5px;
	box-shadow:0 1px 0 #ccc;
}
.meta-settings input, .meta-settings select {
	margin:0px 0px 4px 0px;
	padding:3px 5px;
}
.meta-settings select {
	width:100%;
	padding-left:1px;
	padding-right:10px;
	color:#222;
	border-radius:5px;
}
.meta-settings input[type=checkbox] {
	margin:1px 6px 10px 0px;
	vertical-align:top;
}
.meta-settings input[type=text],
.meta-settings input[type=number],
.meta-settings input[type=email],
.meta-settings textarea {
	width:100%;
	color:#222;
	border-radius:5px;
}
.meta-settings input.large-text {
	font-size:150%;
	font-weight:600;
	padding:6px 4px;
}
.meta-settings textarea.medium {
	height:120px;
}
.meta-settings textarea.long {
	height:200px;
}
.meta-settings textarea.very-long {
	height:500px;
}
.meta-settings textarea.wide {
	width:500px;
}
.meta-settings .input.date {
	width:100px;
}
.meta-settings input._media-select,
.meta-settings input._media-clear {
	margin-bottom:4px;
}
.meta-settings input._previews {
	max-width:400px;
}
.image-preview {
	width:100%;
	height:160px;
    max-width:320px;
	display:block;
    margin:0 auto;
    border-radius:5px;
	background-size:contain;
	background-repeat:no-repeat;
	background-color:#f0f0f0;
	background-position:center center;
}
.image-preview.empty {
	display:none;
}
.svg-preview {
	width:100%;
	height:130px;
    max-width:160px;
	display:block;
    margin:0 auto;
    text-align:center;
}
.svg-preview.empty {
	display:none;
}
.video-preview {
	width:100%;
	max-width:320px;
	display:block;
	margin:0 auto;
}
.video-preview .empty {
	display:none;
}
.video-preview video {
	height:180px;
	max-width:320px;
}

.meta-settings .editor .entry {
	display:none;
}
.meta-settings .editor .summary {
	max-width:560px;
	margin-bottom:6px;
	padding:6px;
	border:1px solid #dfdfdf;
	border-radius:5px;
	background-color:#f9f9f9;
}

.meta-settings .checkbox-group {
	border:1px solid #dfdfdf;
	border-radius:5px;
	background-color:#fbfbfb;
	padding:6px 6px 0px 6px;
}
.meta-settings .checkbox-group .option {
	width:100%;
}

.meta-settings .toggle-off {
	display:none;
}
input[type=checkbox]._toggler {
	width:20px;
	height:20px;
	margin:0px 8px 0px 0px;
	border-radius:4px;
}
input[type=checkbox]._toggler:before {
	
	float:left;
	display:inline-block;
	vertical-align:middle;
	width:16px;
	font:normal 18px/1 dashicons;
	speak:none;
	-webkit-font-smoothing:antialiased;

	content:'\f502';
	margin:0px;
	font-family:dashicons;
	color:#ccc;
}
input[type=checkbox]._toggler:checked:before {
	content:'\f153';
	margin:0px;
	color:#1e8cbe;
}
input[type=checkbox]._toggler.icon {
	width:30px;
	height:14px;
	font-family:dashicons;
	border:0px;
	-webkit-appearance:none;
	box-shadow:none;
	background-color:transparent;
}
input[type=checkbox]._toggler.icon:before {
    content:'\f139';
    width:30px;
    height:20px;
	margin:0;
	vertical-align:middle;
	font-size:36px;
	line-height:20px;
	color:#a0a5aa;
}
input[type=checkbox]._toggler.icon:checked:before {
	content:'\f140';
	font-size:38px;
	margin:-2px 0 0 -2px;
}
label._for-toggler {
	width:100%;
	display:block;
	padding:6px 0px 0px 0px;
	line-height:22px;
}

._tabber {

}
._tabbed {

}
._tabbed .tab {
	display:none;
}
._tabbed .tab.on {
	display:block;
}


#post-body #normal-sortables {
	min-height:0px !important;
}




.edit-post-layout__content {
	overflow-x:hidden;
}